:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #1f2230;
  }
.nova-flat-regular {
    font-family: "Nova Flat", system-ui;
    font-weight: 500;
    font-style: normal;
  }
h1{
    color: #fff;
}
header {
    z-index: 10;
    position: absolute;
    top:0;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background: #141417;
}

header .brand {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: white;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: white;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position:relative;
  display:inline-flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 50px 50px;
}

.cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/* *******************FOOTER */
footer {
    background-color: #494444;
    padding: 20px;
    color: white;
    text-align: center;
  }

    .footer-container {
        display: inline;
    }

    .footer-container img {
    width: 100px;
    height: auto;
    margin: 0 20px; /* Espacio entre las imágenes */
    }
    .top {
    margin-top: 15px;
    }